:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	--main: #141414;
	--secondary: #242424;
	--tertiary: #2e2e2e;
	--text: #d9d9d9;
	--alternate-text: #a7a7a7;
	--grab: #32a6fc;
	--alternate-grab: #17222b;
	--fade: #1414147b;
}

body {
	margin: 0;
}

#app {
	margin: 0;
	background: var(--main);
	width: 100vw;
	height: 100vh;
}

.icon-button {
	transition: color 100ms ease-in-out;

	cursor: pointer;
	user-select: none;

	color: var(--text);
}

.icon-button:hover {
	color: var(--grab);
}
