:root {
  --main: #141414;
  --secondary: #242424;
  --tertiary: #2e2e2e;
  --text: #d9d9d9;
  --alternate-text: #a7a7a7;
  --grab: #32a6fc;
  --alternate-grab: #17222b;
  --fade: #1414147b;
}

* {
  font-family: 'JetBrainsMono';
  font-weight: 400;

  color: var(--text);
}

@font-face {
  font-family: JetBrainsMono;
  src: url('@/assets/JetBrainsMono.ttf');
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grab);
}

body {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

.icon-button {
  transition: color 100ms ease-in-out;

  cursor: pointer;
  user-select: none;
}

.icon-button:hover {
  color: var(--grab);
}
